@media (max-width: 500px) {
  .section {
    padding: 0px 20px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
}
@media (min-width: 500px) {
  .section {
    padding: 50px 70px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    z-index: 0;
  }
}
.introTop {
  margin-top: -5px;
  color: rgb(209, 211, 213);
  font-size: 45px;
}
.introTop:after {
  width: 15%;
  height: 2px;
  background-color: #8f44fd;
  color: #8f44fd;
  content: "";
  position: relative;
}
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 0;
}
.head {
  color: #96754e;
  font-size: 20px;
  z-index: 0;
}
.line {
  content: "";
  width: 15%;
  height: 1px;
  background-color: #8f44fd;
  margin-top: -3%;
  z-index: 0;
}

.swiper {
  z-index: 0;
}
.swiperContainer {
  background-color: #1d1b19;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  z-index: 0;
}
.swiperProject {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.projectPhoto {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: 0;
}
.swiperButtons {
  position: relative;
  right: -80%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
  z-index: 0;
}
.swiperButton {
  width: 40px;
  height: 40px;
  padding: 10px 7px;
  border: 1px solid transparent;
  transition: all 0.6s ease;
}
.swiperButton:hover {
  border: 1px solid #96754e;
  cursor: pointer;
  color: #96754e;
  transition: all 0.4s ease;
}
.projektOverlayImage {
  position: fixed;
  width: 50%;
  top: 0;
  height: 100%;
  opacity: 0.5;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  transition: opacity 0.2s ease;
  visibility: hidden;
}

.swiperProject:hover > .projektOverlayImage {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  height: 100%;
  opacity: 0.9;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  transition: opacity 0.2s ease;
  background-color: grey;

  visibility: visible;
}
.swiperProject:hover > .projektName {
  visibility: hidden;
}

/* .swiperProject p:hover {
  font-size: 20px;
} */
.link {
  text-decoration: none;
}
.projektOverlayP {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 5px;
  z-index: 0;
  margin-top: 150%;
  font-size: large;
  text-align: center;
}
.projektOverlayP:hover {
  color: #7f4706;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #7f4706;
  padding: 5px;
  z-index: 0;
  font-size: large;
  text-align: center;
}
.projectGif {
  width: 100%;
  height: 100%;
  border-radius: 27px;
  image-resolution: 20dpi;
}
.projektOverlayGif {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -2px;
  background-color: grey;

  background-image: url(https://media.tenor.com/kbbJOE4dIJkAAAAC/working-on.gif);
  border-radius: 27px;
  background-repeat: no-repeat;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  transition: all 0.2s ease;
  visibility: hidden;
}
/* .swiperProject:hover > .projektOverlayGif {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -2px;
  background-image: url(https://media.tenor.com/kbbJOE4dIJkAAAAC/working-on.gif);
  border-radius: 27px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  transition: all 0.2s ease-out;
  opacity: 0.5;
  visibility: visible;
} */
