@media (max-width: 500px) {
  .toggleLanguage {
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    left: 5%;
    top: 5%;
  }
  .hamburger {
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    z-index: 1001;
  }
  .hamburgerClose {
    width: fit-content;
    height: fit-content;
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 0px;
    z-index: 1001;
  }
  .hamburgerClose:hover {
    color: #96754e;
  }

  .image {
    width: 250px;
    height: 250px;
  }
  .wrapper {
    box-sizing: border-box;
    cursor: auto;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 10px;
    clear: both;
    width: 100%;
  }

  .leftContainer {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    padding: 0px;
    animation: 1s ease;
    width: 100%;
  }

  .leftScroll {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    padding: 0px;
    animation: 1s ease;
    width: 100%;
  }
  .rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
  }

  .rightScoll {
    display: flex;
    justify-content: center;
  }

  .imgWrapper {
    margin-top: 100px;
  }
  .longBox {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 10px 30px;
  }

  .longBoxScroll {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 10px;
  }
  .wideBox {
    border: 1px solid yellow;
    padding: 20px 10px;
    margin: -20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: center;
    text-align: center;
  }
  .wideBoxScroll {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    justify-content: center;
    text-align: center;
  }
  .changedTitle {
    border-width: 0 1px 0 1px;
    border-color: #ddd;
    font-size: 13px;
    vertical-align: baseline;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .changedTitle::before {
    content: "[";
    color: #8f44fd;
    animation: opacity 3s infinite;
    font-size: 25px;
    padding-right: 5px;
  }
  .changedTitle::after {
    content: "]";
    color: #8f44fd;
    animation: opacity 3s infinite;
    font-size: 25px;
    padding-left: 5px;
  }

  .line {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms steps(44) infinite normal;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    transition: all 1s ease;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 67.9%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .arrow {
    position: relative;
    left: 110%;
    bottom: 60px;
  }
  .arrowUp {
    z-index: 10;
    color: #fff;
    position: relative;
    width: 30px;
  }
  .arrowUp:hover {
    color: #8f44fd;
    animation: MoveUpDown 1s linear infinite;
  }
  .link {
    text-decoration: 1px underline rgba(255, 255, 255, 0.5);
    font-size: 20px;
    color: white;
    text-underline-offset: 0.2em;
    z-index: 0;
  }
  .link:hover {
    color: #96754e;
  }
  .footerText {
    font-size: 15px;
  }

  .chatbotIcon {
    cursor: pointer;
    z-index: 0;
    position: absolute;
    top: 1%;
    left: 2%;
    z-index: 1;
    padding: 15px;
    border: 1px solid white;
    border-radius: 25px;
    visibility: hidden;
  }
}
@media (max-width: 1040px) and (min-width: 500px) {
  .toggleLanguage {
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    left: 5%;
    top: 5%;
  }
  .hamburger {
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    z-index: 1001;
  }
  .hamburgerClose {
    width: fit-content;
    height: fit-content;
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 0px;
    z-index: 1001;
  }
  .hamburgerClose:hover {
    color: #96754e;
  }

  .image {
    width: 400px;
    height: 400px;
  }
  .wrapper {
    box-sizing: border-box;
    cursor: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    clear: both;
  }

  .leftContainer {
    position: relative;
    float: none;
    clear: none;
    display: flex;
    flex-direction: column;
    animation: all 1s ease;
  }

  .leftScroll {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    padding: 0px;
    animation: 1s ease;
    width: 100%;
  }
  .rightContainer {
    display: flex;
    justify-content: center;
    animation: none;
  }

  .rightScoll {
    display: flex;
    justify-content: center;
  }

  .imgWrapper {
    margin-top: 100px;
  }
  .longBox {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 10px 30px;
  }

  .longBoxScroll {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 10px;
  }
  .wideBox {
    border: 1px solid yellow;
    padding: 20px 10px;
    margin: -20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: center;
    text-align: center;
  }
  .wideBoxScroll {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    justify-content: center;
    text-align: center;
  }
  .changedTitle {
    border-width: 0 1px 0 1px;
    border-color: #ddd;
    font-size: 23px;
    vertical-align: baseline;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .changedTitle::before {
    content: "[";
    color: #8f44fd;
    animation: opacity 3s infinite;
    font-size: 35px;
    padding-right: 5px;
  }
  .changedTitle::after {
    content: "]";
    color: #8f44fd;
    animation: opacity 3s infinite;
    font-size: 35px;
    padding-left: 5px;
  }

  .line {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms steps(44) infinite normal;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all 1s ease;
    display: flex;
    width: 67.9%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
  }
  .arrow {
    position: relative;
    left: 110%;
    bottom: 95px;
    z-index: 0;
  }
  .arrowUp {
    background-color: #1d1b19 !important;
    border: 1px solid white;
    color: #bbbb;
    position: relative;
    padding: 0px 10px;
  }
  .arrowUp:hover {
    color: #8f44fd;
    animation: MoveUpDown 1s linear infinite;
  }
  .link {
    text-decoration: 1px underline rgba(255, 255, 255, 0.5);
    font-size: 20px;
    color: white;
    text-underline-offset: 0.2em;
    z-index: 0;
  }
  .link:hover {
    color: #96754e;
  }

  .chatbotIcon {
    cursor: pointer;
    z-index: 0;
    position: absolute;
    top: 55%;
    left: 2%;
    z-index: 1;
    padding: 15px;
    border: 1px solid white;
    border-radius: 25px;
    visibility: hidden;
  }
}
@media (min-width: 1040px) {
  .toggleLanguage {
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    margin-top: 2%;
    left: 5%;
  }
  .hamburger {
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    z-index: 1001;
  }
  .hamburgerClose {
    width: fit-content;
    height: fit-content;
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 0px;
    z-index: 1001;
  }
  .hamburgerClose:hover {
    color: #96754e;
  }

  .wrapper {
    cursor: auto;
    gap: 20px;
    justify-content: space-between;
  }

  .leftContainer {
    display: flex;
    justify-content: center;
    position: relative;
    float: none;
    clear: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
  }

  .leftScroll {
    height: 100%;
    width: 68%;
    transition: ease 1s;
  }
  .rightContainer {
    position: fixed;
    display: flex;
    width: 50%;
    min-height: 100vh;
    justify-content: center;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 1s ease;
    z-index: 0;
  }
  .rightScoll {
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 32%;
    display: flex;
    justify-content: center;
    border-left: solid white;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    transition: all 1s ease;
    z-index: 0;
  }
  .rightContainer .image {
    width: auto;
    height: 400px;
    box-sizing: border-box;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 1s;
    border-radius: 7px;
  }
  .rightScoll .image {
    width: auto;
    height: 200px;
    box-sizing: border-box;
    transition: ease 1s;
    border-radius: 7px;
  }
  .rightContainer > .imgWrapper {
    width: 80%;
    height: 900px;
    margin-top: 100px;
  }

  .rightScoll .imgWrapper {
    width: 70%;
    margin-top: 100px;
    height: 700px;
  }

  .longBox {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 30px;
    box-sizing: border-box;
  }
  .longBox:hover {
    border: 1px solid #96754e;
  }

  .longBoxScroll {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    box-sizing: border-box;
  }
  .longBoxScroll:hover {
    border: 1px solid #96754e;
  }
  .wideBox {
    border: 1px solid rgba(255, 255, 255, 0.2);

    padding: 20px 10px;
    margin: -20px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }
  .wideBox:hover {
    border: 1px solid #96754e;
  }
  .wideBoxScroll {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }
  .wideBoxScroll:hover {
    border: 1px solid #96754e;
  }
  .rightContainer .changedTitle {
    border-width: 0 1px 0 1px;
    border-color: #ddd;
    font-size: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rightScoll .changedTitle {
    border-width: 0 1px 0 1px;
    border-color: #ddd;
    font-size: 15px;
    vertical-align: baseline;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightContainer .changedTitle::before {
    content: "[";
    color: #8f44fd;
    animation: opacity 3s infinite;
    font-size: 35px;
  }
  .rightScoll .changedTitle::before {
    position: relative;
    content: "[";
    color: #8f44fd;
    animation: opacity 3s infinite;
    font-size: 20px;
  }
  .rightContainer .changedTitle::after {
    content: "]";
    color: #8f44fd;
    animation: opacity 3s infinite;
    font-size: 35px;
    padding-left: 5px;
  }
  .rightScoll .changedTitle::after {
    content: "]";
    color: #8f44fd;
    animation: opacity 3s infinite;
    font-size: 20px;
    padding-left: 5px;
  }

  .line {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms steps(44) infinite normal;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all 1s ease;
    display: flex;
    width: 67.9%;
    color: rgba(255, 255, 255, 0.5);

    font-size: 18px;
  }
  .arrow {
    position: relative;
    left: 70%;
    bottom: 80px;
    z-index: 0;
  }
  .arrowUp {
    background: #1d1b19;
    color: #fff;
    padding: 0px 20px;
    position: relative;
  }
  .arrowUp:hover {
    color: #8f44fd;
    animation: MoveUpDown 1s linear infinite;
  }
  .link {
    text-decoration: 1px underline rgba(255, 255, 255, 0.5);
    font-size: 20px;
    color: white;
    text-underline-offset: 0.2em;
  }
  .link:hover {
    color: #96754e;
  }
  .chatbotIcon {
    cursor: pointer;
    z-index: 0;
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 1;
    padding: 15px;
    border: 1px solid white;
    border-radius: 25px;
  }
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 20%;
  }
}

@-webkit-keyframes opacity {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    display: none;
    opacity: 0;
  }

  20% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
